a.button, .button{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;

    margin: auto;
    padding: 10px 20px;
    border: 1px solid transparent;
    background: #333;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: all 1s;
    font-size: 30pt;
    
}
a.button:hover, .button:hover{
    background: transparent;
    color: black;
    border: 1px solid black;
    transition: all 1s;
    font-size: 40;
    transform: scale(1.05)
    
}

body{
    font-family: sans-serif;
    transition: all 1s;
}
.Welcome_Container, .Login_Container, .Register_Container{  
    font-size: 25pt;
    transition: all 1s;
    text-align: center;
    transition: all 1s;
}
#header{
    
    font-size: 30pt;
    text-align: center;
}
#email, #password{
    padding: 7px 1px;
    margin: 3px 0;
    max-width: 500px;
    border-radius: 25px;
    border: 1px solid #ccc;
    font-size: 20pt;
    transition: all 1s;
    
}
.Source_Container{
    font-size: 16pt;
    text-align: center;
    transition: all 1s;
}