<html>
  <head>
    <title>WebWareBox - Home</title>
	<link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1 id="header">WebWareBox - Home</h1>
    <div class="Welcome_Container" style="text-align: center;">
      
      <h3><u>Welcome, User!</u></h3>
      <p><i>You have uploaded 0 Package(s) so far.</i></p>
      <p><i>The Site that you're currently on is currently running WebWareBox Release 0001.</i></p>
      <p><i>If you have any issues, you may contact the Site owner at: mail@mail.mail</i></p>
      <p><i>You have given 0 Ratings to any Packages so far.</i></p>
      <hr>
    </div>
    <div class="Menubar" style="text-align: center;">
        <a href="index.html" class="button">Home</a>
        <a href="source.html" class="button">Source Code</a>
        <a href="" class="button">Software Directory</a>
        <a href="" class="button">Upload</a>
        <a href="" class="button">Login</a>
        <a href="" class="button">Register</a>
        
        <r>
    </div>
    <br>
    
  </body>
</html>
