<html>
  <head>
    <title>WebWareBox - Home</title>
  </head>
  <body>
    <h1>WebWareBox - Home</h1>
    <div class="Menubar">
      <a href="/">Home</a> |
      <a href="/Source">Source-Code.</a> |
      <a href="">Software Directory</a> |
      <a href="">Upload</a> |
      <a href="">Login</a> |
      <a href="">Register</a>
    </div>
    <br>
    <div class="Welcome_Container" style="text-align: center;">
      <h3><u>Welcome, User!</u></h3>
      <p><i>You have uploaded 0 Package(s) so far.</i></p>
      <p><i>The Site that you're currently on is currently running WebWareBox Release 0001.</i></p>
      <p><i>If you have any issues, you may contact the Site owner at: mail@mail.mail</i></p>
      <p><i>You have given 0 Ratings to any Packages so far.</i></p>
    </div>
  </body>
</html>
