<html>
  <head>
    <title>WebWareBox - Home</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script type="text/javascript" src="url_for('static', filename='login_exceptions.js')"></script>
  </head>
  <body>
    <h1 id="header">WebWareBox - Home</h1>
    <div class="Welcome_Container">
      
      <h3><u>Welcome, </u></h3>
      <p><i>You have uploaded 0 Package(s) so far.</i></p>
      <p><i>The Site that you're currently on is currently running WebWareBox Release 0001.</i></p>
      <p><i>If you have any issues, you may contact the Site owner at: mail@mail.mail</i></p>
      <p><i>You have given 0 Ratings to any Packages so far.</i></p>
      <hr>
    </div>
    <div class="Menubar" style="text-align: center;">
        <a href="/" class="button">Home </a>
        <a href="/Source" class="button">Source Code </a>
        <a href="/Software" class="button">Software Directory </a>
        <a href="/Upload" class="button">Upload </a>
        <a href="/Login" class="button">Login </a>
        <a href="/Register" class="button">Register </a>
    </div>
    <br>
    
  </body>
</html>
